@font-face {
    font-family: NeueMontreal;
    src: url(fonts/PPNeueMontreal-Thin.otf);
}
@font-face {
    font-family: NeueMontreal;
    src: url(fonts/PPNeueMontreal-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: NeueMontreal;
    src: url(fonts/PPNeueMontreal-Italic.otf);
    font-style: italic;
}
@font-face {
    font-family: NeueMontrealBook;
    src: url(fonts/PPNeueMontreal-Book.otf);
}

html {
    font-family: NeueMontrealBook, sans-serif;
    color: #121212;
}

#bg {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    border: none;
    height: 90svh;
    width: 95svw;
    margin: 2vw;
    left: 10px;
    top: 0;
    overflow: hidden;
    /* flex-grow: 1;
    margin: 0;
    padding: 0; */
}

* {
    box-sizing: border-box;
  }


a {
    color:#6d6d6d;
    text-decoration: none;
}

a:hover {
    color:#121212;
    cursor: pointer;
    
}

.headings {
    
    font-size: 1.5em;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-color: #121212;
    color: #121212;
    height: 90svh;
    width: 95svw;
    margin: 2vw;
    overflow: scroll;
    flex-wrap: wrap;
}

.title {
    white-space: nowrap;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 1px;
    margin-right: 2vw;
    padding-right: 4vw;
    width: 50%;
    height: auto;
    /* border-style: solid;
    border-color: #121212; */
}

#title-text {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 13svh;
    font-family: NeueMontreal, sans-serif;
}

.sub-socials {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 1em;
    font-size: 1.7em;
    margin-bottom: 1px;
}

#subtitle {
    margin-top: 1px;
    margin-bottom: 1px;
}

.social {
    font-size: 4em;
    margin-top: 4em;
    margin-left: 4em;
    padding: 5em;
    /* border-style: solid;
    border-color: #121212; */
}

#mode-toggle {
    color: #121212
}
 
#mode-toggle:hover {
    color: #6d6d6d
}

.coursework {
    overflow: hidden;
    margin-left: 2vw;
    font-size: 1.3em;
    /* width: 30%; */
    height: auto;
    /* border-style: solid;
    border-color: #121212; */
}

.about {
    overflow: hidden;
    font-size: 1.3em;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 50%;
    height: auto;
    /* border-style: solid;
    border-color: #121212; */
}

.works {
    overflow: hidden;
    margin-left: 2vw; 
    font-size: 1.3em;
    /* width: 30%; */
    height: auto;
    /* border-style: solid;
    border-color: #121212; */
}

body {
    background-color: #dedede;
}

@media only screen and (max-width: 480px) {
    #title-text {
        font-size: 17svw;
    }
    .headings {
        font-size: 7svw;
    }
    .coursework, .about, .works {
        font-size: 6svw;
        width: 90%;
    }
    .flex-container, #bg {
        margin: 1vw;
    }
    #bg {
        top: 5px;
        left: 8px;
    }
}

@media only screen and (max-height: 400px) {
    #title-text {
        font-size: 25svh;
    }
}